@model List<TopicViewModel>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here is a list of current Kafka Topics</a>.</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Topic</th>
                <th scope="col">Last Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var topic in @Model)
            {
                <tr>
                    <td>@Html.ActionLink(@topic.Name, "Topic", "Home", new { @topicId = @topic.Id }, new {@class="link-primary"})</td>
                    <td>@topic.LastReceived</td>
                </tr>
            }
        </tbody>
    </table>
</div>
